@import url('https://fonts.googleapis.com/css2?family=Damion&family=Montserrat:wght@600;700&family=Roboto+Slab:wght@400;700&display=swap');
@tailwind base;
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-sans;
}
h2 {
  @apply text-japonica-500 font-bold text-4xl;
  @screen xl {
    @apply text-5xl;
  }
}
span,
p {
  @apply font-serif;
  @screen xl {
    @apply text-lg;
  }
}

@tailwind components;

@tailwind utilities;

.btn-elevation {
  @apply elevation-2;
  transition: box-shadow 0.3 ease-in-out;
  &:active {
    @apply elevation-8;
  }
}
.btn-hover {
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: color-mod(theme('colors.mojo.500') lightness(+5%));
  }
}
