@import url("https://fonts.googleapis.com/css2?family=Damion&family=Montserrat:wght@700&family=Roboto+Slab:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.letter-spacing-normal {
  letter-spacing: normal;
}
