@import url("https://fonts.googleapis.com/css2?family=Damion&family=Montserrat:wght@700&family=Roboto+Slab:wght@400;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: $color-orange;
}

.text-spacing-normal {
  letter-spacing: normal;
}

.hidden {
  display: none;
}

.primary-btn {
  background-color: $color-red !important;
}

.text-cursive {
  font-family: "Damion", cursive;
}

.text-sans-serif {
  font-family: "Montserrat", sans-serif;
}

.grid-layout {
  display: grid;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media #{map-get($display-breakpoints, 'xs-only')} {
  .grid-layout {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    padding: 0 16px;
  }
  .sm-col4 {
    grid-column: 1 / span 4;
  }

  .sm-col2-center {
    grid-column: 2 / span 2;
  }

  p {
    font-size: 13px;
  }
}

@media #{map-get($display-breakpoints, 'lg-only')} {
  .grid-layout {
    grid-template-columns: repeat(10, 80px);
    column-gap: 30px;
    justify-items: center;
  }
  .lg-col-10 {
    grid-column: 1 / -1;
  }
}
