@import "~vuetify/src/styles/settings/_variables";

$body-font-family: "Roboto Slab", serif;

$background-dark: #392f43;
$color-purple: #8260a3;
$color-white: #e5e5e5;
$color-orange: #da7c71;
$color-red: #c23d40;
